{
    "ClientID": "",
    "ClientSecret": "",
    "BotToken": "",
    "LavalinkPassword": "",
    "YoutubeApiKey": "",
    "GeniusApiKey": "",
    "DashboardURL": "",
    "ConnectionString": "host=;database=;user id=;password=;",
    "DefaultPrefix": "$",
    "RequiredPermissions": "271641798"
  }
  